@using Bugtracker.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-box">
    <section id="loginForm">
        <div class="login-box-body">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <p class="login-box-msg">Please log in</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback" style="text-align: left"></span>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        <span class="glyphicon glyphicon-lock form-control-feedback" style="text-align: left"></span>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" value="Log In">Sign In</button>
                    </div>
                </div>
            }
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            <hr />    
            <ul class="list-unstyled">
                    <li>@Html.ActionLink("Register as a new user", "Register")</li>
                    <li>@Html.ActionLink("Forgot your password?", "ForgotPassword")</li>
                </ul>
            </div><!-- /.social-auth-links -->
        </div>
    </section>
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@